params {
    output = 'output'
    reactome = 'https://raw.githubusercontent.com/LeonHafner/sc-guidelines/main/assets/Reactome.tsv'
    kang = 'https://raw.githubusercontent.com/LeonHafner/sc-guidelines/main/assets/kang2018.h5ad'
    
    runtime.enabled = true
    runtime.n_runs = 10
    runtime.n_fixed_cells = 1000
    runtime.n_fixed_genes = 1000
    runtime.preprocessing_threshold = 0.1

    static_plots.enabled = true

    correlation.enabled = true
    correlation.n_runs = 10
    correlation.n_genes = 5000

    negative.enabled = true
    negative.n_genes = 5000
    negative.preprocessing_threshold = 0.1

    performance.enabled = true
    performance.n_runs = 20
    performance.n_genes = 5000
    performance.hvg_ratio = 0.1
    performance.preprocessing_threshold = 0.1

    reproducibility_enabled = true
    reproducibility_lung_cancer_atlas = "https://zenodo.org/records/14639638/files/luca.zip?download=1"
    reproducibility_preprocessing_threshold = 0.1
}

process {
    memory = { 16.GB * task.attempt }
    errorStrategy = 'retry'
    maxRetries = 2
}

apptainer.enabled = true
apptainer.runOptions = '--no-mount tmp --writable-tmpfs'