params {
    output = 'output'
    
    runtime.enabled = true
    runtime.n_runs = 10
    runtime.n_fixed_cells = 1000
    runtime.n_fixed_genes = 1000
    runtime.preprocessing_threshold = 0.1

    static_plots.enabled = false
    
    reactome = 'https://raw.githubusercontent.com/LeonHafner/sc-guidelines/fb9c9a566643a85c1834de08c2c400366f4833f5/benchmarking/performance/kang2018/Reactome.tsv'
    kang = 'https://raw.githubusercontent.com/LeonHafner/sc-guidelines/fb9c9a566643a85c1834de08c2c400366f4833f5/benchmarking/performance/kang2018/kang2018.h5ad'
}

apptainer.enabled = true
apptainer.runOptions = '--no-mount tmp --writable-tmpfs'